body {
    background-color: black;
}
h2 {
    line-height: 1.125;
    font-size: 60px;
    letter-spacing: .013em;
    font-family: "DIN Alternate", serif;
    color: #f2f2f2;
}
h3 {
    line-height: 1.125;
    font-size: 30px;
    letter-spacing: .013em;
    font-family: "DIN Alternate", serif;
    color: #f2f2f2;
}
p {
    font-size: 20px;
    color: #f2f2f2;
    font-family: "DIN Alternate", serif;
}
.overview_text {
    font-family: "DIN Alternate", serif;
}

.command {
    font-family: "SF Mono", monospace;
    position: relative;
    display: block;
    color: #000000;
    text-align: left;
}

.code_location {
    min-height: 30px;
    min-width: 200px;
    border-radius: 20px;
    background: #ffffff;
    vertical-align: middle;
    display: table-cell;
    text-align:center;
}

.preprocessor {
    color: #724B30;
}
.stringsAndLibraries {
    color: #C41A16;
}
.funcs {
    color: #0F68A0;
}
.classes {
    color: #326D74;
}
.types {
    color: #3900A0;
}
.keywords {
    color: #9B2393;
}
.numbers {
    color: #1C00CF;
}